# ============================
# Ignorar backend y frontend
# ============================

# Node modules
backend/node_modules/
frontend/node_modules/

# Variables de entorno
backend/.env
frontend/.env

# Builds
backend/dist/
frontend/dist/
frontend/build/


# ============================
# General para proyectos Node
# ============================

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# jscoverage / JSCover
lib-cov

# Coverage
coverage
*.lcov

# NYC
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# Compiled addons
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm

# ESLint cache
.eslintcache

# Stylelint cache
.stylelintcache

# REPL history
.node_repl_history

# Yarn integrity
.yarn-integrity

# dotenv (global)
.env
.env.*
!.env.example

# Parcel
.cache
.parcel-cache

# Next.js
.next
out

# Nuxt
.nuxt
dist

# Gatsby
.cache/

# VuePress
.vuepress/dist
.temp
.cache

# SvelteKit
.svelte-kit/

# VitePress
**/.vitepress/dist
**/.vitepress/cache

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# Firebase
.firebase/

# TernJS
.tern-port

# VSCode Test
.vscode-test

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite log temp
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
